@model IEnumerable<StoreModels.InventoryItem>

@{
     ViewData["Title"] = "Shop";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
</head>
<body>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <form action="Order" method="post">
         <input type="hidden" name="LocationID" id="LocationID" value="@Model.FirstOrDefault().LocationID">

    @* //@using (Html.BeginForm()){ *@
        @Html.AntiForgeryToken()
       
        @foreach (var item in Model) {
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <input type="number" name="@item.ProductID" min="0" max="@item.Quantity" label="Number to buy" value="0">
                    </td>
                </tr>
            

        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="Submit" value="Place Order"></td>
            
        </tr>
        
    </form>
    </tbody>    
</table>
</body>
</html>
